/*
   ******************
        COMMON
   ******************
 */

.error {
    color: red;
}

.info {
    color: #3498db;
}

.hidden {
    display: none;
}

.message {
    border-radius: 30px;
    border: 3px;
    border-style: ridge;
    border-color: #3498db;
    background-color: white;
    max-width: 650px;
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
}

.content {
    text-align: center;
}

body {
    margin-top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    text-rendering: optimizeLegibility;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    min-height: 300px;
    text-align: center;
    width: 245px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 16px;
    line-height: 25px;
}

li {
    border: 2px solid black;
    border-radius: 3px;
    font-size: 16px;
    display: block;
    width: 220px;
    padding: 5px 0;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    vertical-align: center;
}

li:first-child {
    margin-top: 4px;
}

li:last-child {
    margin-bottom: 4px;
}

#logout-button {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

#name-logout-table {
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
}

#logout-td {
    text-align: left;
    width: 30%;
}

#name-td {
    text-align: center;
    width: 70%;
}

/*
   ******************
     REGISTER-LOGIN
   ******************
 */

.form-div {
    text-align: center;
    margin-top: 100px;
}

.input-div {
    color: black;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: 3px;
    border-style: ridge;
    border-color: #3498db;
    background-color: white;
    width: 300px;
}

.input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 200;
    padding: 7px 0;
    width: 250px;
    transition: border .5s;
}

.input:focus {
    border: 2px solid #3498db;
    box-shadow: none;
}

.input-min {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 200;
    padding: 5px 0;
    width: 180px;
    margin-top: 7px;
    transition: border .5s;

}

.input-min:focus {
    border: 2px solid black;
    box-shadow: none;
}

.input-miniature {
    text-align: center;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1px;
    font-size: 10px;
    font-weight: 200;
    padding: 5px 0;
    width: 140px;
    margin-top: 3px;
    transition: border .5s;
}

.input-miniature:focus {
    border: 1px solid #d62c1a;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    display: block;
    width: 250px;
    margin: 10px auto;
    transition: background-color .5s;

}

.btn:hover {
    background-color: #2980B9;
    cursor: pointer;
    transition: background-color .5s;
}

.register-paragraph {
    font-size: 13px;
}

.register-link {
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
    transition: color .5s;
}

.register-link:hover,
.register-link:active {
    text-decoration: none;
    color: #3498db;
    transition: color .5s;
}

/*
   ******************
     MAIN ELEMENTS
   ******************
 */

.container {
    border: 2px solid black;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.middle-td {
    width: 60%;
}

.wing-td {
    width: 15%;
}

.title-span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.create-div {
    margin-top: 20px;
    min-height: 250px;
    width: 245px;
    border: 2px solid black;
    border-radius: 3px;
    line-height: 25px;
    position: relative;
}

.create-btn {
    border: 1px solid black;
    color: #ffffff;
    font-size: 12px;
    line-height: 25px;
    padding: 5px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 2px;
    box-shadow: none;
    display: block;
    width: 180px;
    margin: 10px auto;
    cursor: pointer;
}

.close-btn {
    background: url(img/back.png) center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.close-btn-min {
    background: url(img/back-mini.png) center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25px;
    height: 25px;
    margin: 5px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.delete-btn {
    background: url(img/remove-mini.png) center;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    margin: 5px;
    display: inline;
    padding: 0;
    border: none;
    cursor: pointer;
}

.delete-btn-min {
    background: url(img/remove-mini.png) center;
    width: 25px;
    height: 25px;
    margin: 5px;
    display: inline;
    padding: 0;
    border: none;
    cursor: pointer;
}

.change-btn {
    background: url(img/update.png) center;
    width: 40px;
    height: 40px;
    margin: 5px;
    display: inline;
    padding: 0;
    border: none;
    cursor: pointer;
}

.change-btn-min {
    background: url(img/update-mini.png) center;
    width: 25px;
    height: 25px;
    margin: 5px;
    display: inline;
    padding: 0;
    border: none;
    cursor: pointer;
}

.change-btn-min-absolute {
    background: url(img/update-mini.png) center;
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    margin: 5px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.create-min-btn {
    background: url(img/create.png) center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.clock-btn-min{
    background: url(img/clock.png) center;
    width: 25px;
    height: 25px;
    margin: 5px;
    display: inline;
    padding: 0;
    border: none;
    cursor: default;
}

/*
   ******************
       SCHEDULES
   ******************
 */

#schedules-button:hover {
    background-color: #1e73a1;
    transition: background-color .5s;

}

#schedules-button {
    background-color: #3195d1;
    transition: background-color .5s;

}

#schedulesUl {
    background-color: #2f9fe2;
}

#create-schedule {
    background-color: #3195d1;
}

#schedule-create-btn {
    background: #2f9fe2;
    transition: background-color .5s;
}

#schedule-create-btn:hover {
    background-color: #2980B9;
    cursor: pointer;
    transition: background-color .5s;
}

.schedule-li {
    background-color: white;
    color: #3195d1;
}

/*
   ******************
         TASKS
   ******************
 */

#tasks-button {
    background-color: #24be3e;
    transition: background-color .5s;

}

#tasks-button:hover {
    background-color: #24a83c;
    transition: background-color .5s;

}

#tasksUl {
    background-color: #27ee48;
}

#create-task {
    background-color: #24be3e;
}

#create-task:first-child {
    margin-top: 4px;
}

#task-create-btn {
    background: #27ee48;
    margin-top: 30px;
    transition: background-color .5s;
}

#task-create-btn:hover {
    background-color: #14b536;
    cursor: pointer;
    transition: background-color .5s;
}

.task-li {
    color: black;
    cursor: grab;
}

.task-li-update {
    height: 170px;
}

.task-create-li {
    margin-top: 5px;
    border: transparent;
    padding: 0;
}

#task-title-rename {
    margin-top: 40px;
}

/*
   ******************
         DAYS
   ******************
 */

.schedule-table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
}

.day-td {
    background-color: gray;
    color: black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    min-width: 150px;
}

.name-row {
    text-align: center;
    background-color: #d62c1a;
    color: #FFF;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    font-size: 25px;
    font-weight: 600;
    width: 100%;

}

.desc-row {
    text-align: center;
    background-color: #d62c1a;
    border-left: 2px solid black;
    border-right: 2px solid black;
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
}

.day-row {
    text-align: center;
}

.hours-table {
    background-color: white;
    text-align: center;
    width: 100%;
}

.hours-td {
    border-bottom: 1px solid dimgrey;
    height : 24px;
}

.span-hour-title{
    height: 62px;
}

.change-sched-fields {
    background-color: #d62c1a;
}

.title-par {
    margin-bottom: 0;
    margin-top: 3px;
}

.desc-td {
    padding-bottom: 5px;
}


/*
   ******************
         Users
   ******************
 */

#users {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

#users th {
    border: 2px solid black;
    text-align: center;
    background-color: #9b59b6;
    color: #FFF;
    font-size: 22px;
    font-weight: bolder;
    padding: 4px 30px 4px 8px;
}

#users td {
    border: 2px solid black;
    padding: 4px 8px;
}

#users tr:nth-child(odd) td {
    background-color: #b788cb;
    color: black;
}

#users tr:nth-child(even) td {
    background-color: white;
    color: #763e8d;
}

.email-td-el {
    cursor: pointer;
}
/*
   ******************
         Tooltip
   ******************
 */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}